<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
   <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.hand.Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>com.hand.Controller.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/filmServlet</url-pattern>
  </servlet-mapping>
  
  
     <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.hand.Controller.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>loginFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  
  <servlet>  
    <servlet-name>freemarker</servlet-name>  
    <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>  
    <!-- FreemarkerServlet 设置: -->  
    <init-param>  
        <param-name>TemplatePath</param-name>  
        <param-value>/</param-value>  
    </init-param>  
    <init-param>  
        <param-name>NoCache</param-name>  
        <param-value>true</param-value>  
    </init-param>  
    <init-param>  
        <param-name>ContentType</param-name>  
        <param-value>text/html; charset=UTF-8</param-value>  
        <!-- 强制使用 UTF-8作为输出编码格式! -->  
    </init-param>  
    <!-- FreeMarker 设置: -->  
    <init-param>  
        <param-name>template_update_delay</param-name>  
        <param-value>0</param-value>  
        <!-- 0 只对开发使用! 否则使用大一点的值. -->  
    </init-param>  
    <init-param>  
        <param-name>default_encoding</param-name>  
        <param-value>ISO-8859-1</param-value>  
        <!-- 模板文件的编码方式. -->  
    </init-param>  
    <init-param>  
        <param-name>number_format</param-name>  
        <param-value>0.##########</param-value>  
    </init-param>  
    <load-on-startup>1</load-on-startup>  
    </servlet>  
<servlet-mapping>  
    <servlet-name>freemarker</servlet-name>  
    <url-pattern>*.ftl</url-pattern>  
</servlet-mapping>  
 
<!-- 为了阻止从Servlet容器外部访问MVC的视图层组件。  
RequestDispatcher.forward/include应该起到作用。  
移除下面的代码可能开放安全漏洞!  
-->  
<security-constraint>  
<web-resource-collection>  
<web-resource-name>  
FreeMarker MVC Views  
</web-resource-name>  
<url-pattern>*.ftl</url-pattern>  
</web-resource-collection>  
<auth-constraint>  
<!-- 不允许任何人访问这里 -->  
</auth-constraint>  
</security-constraint>  
  
  
</web-app>
